* {
    margin: 0;
    padding: 0;
}

.Zone {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.7s linear;
}

.cover{
    width: 20em;
}

.blue {
    background-color:  rgb(15, 90, 120);
    color: aliceblue;
}



.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*----NAV----*/
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;

}

a {
    color: #f5f5f6;
    text-decoration: none;

}
/*---COVER---*/
.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}

/*---GRID---*/
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.box > img {
width:100% ;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}
/*---FOOTER---*/
footer {
    text-align: center;
}